html {height: 100%;}
body {
    margin: 0;
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nav {
    padding: 4px;
    display: flex;
}
.address-control-group {
    flex: 1;
    margin: 0 6px;
}
.address-control-group .input-group {
    margin-bottom: 0;
}
.address-control-group .input-group-btn .btn {
    margin-left: -1px;
}
.address-control-group .input-group-btn .btn+.btn{
    margin-left: -5px;
}
.nav .btn-group-icons .btn
{
    font-size: 14px;
    padding-bottom: 2px;
}
.code {
    flex: 1;
    overflow: scroll;
}
/* override prism.css */
.code pre {
    font-size: 1em;
    border: 0;
    border-radius: 0;
    display: inline-block;
    vertical-align: bottom;
}
.code pre[class*="language-"] {
    margin: 0;
}