html {height: 100%;}
body {
    margin: 0;
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nav {
    padding: 4px;
    background-color: #f3f2ee;
}
.nav-form-wrapper {
    display: flex;
}
.nav .input-group-sm .form-control {
    font-size: 14px;
}
.address-control-group {
    flex: 1;
    margin: 0 6px;
}
.address-control-group .input-group {
    margin-bottom: 0;
}
.address-control-group .input-group-btn .btn {
    margin-left: -1px;
}
.address-control-group .input-group-btn .btn+.btn{
    margin-left: -5px;
}
.nav .btn-group-icons .btn
{
    font-size: 14px;
    padding-bottom: 2px;
}
.code {
    flex: 1;
}
.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 110px;
    height: 110px;
    margin: -55px 0 0 -55px;
    border-radius: 4px;
    background: #474747 url(/image/loading.gif) center center no-repeat;
}
.loading-blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
/* style for php */
.code[data-language=php] {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #272822;
}
.code[data-language=php] .code-wrapper {
    display: flex;
    flex-direction: column;
    line-height: inherit;
    flex: 1;
}
.code[data-language=php] pre {
    font-size: 1em;
    border: 0;
    border-radius: 0;
    display: inline-block;
    vertical-align: bottom;
}
.code[data-language=php] pre[class*="language-"] {
    margin: 0;
}
.code[data-language=php] .word-wrap code[class*="language-"]{
    white-space: pre-wrap;
    word-break: break-all;
}
.word-wrap-control-wrapper {
    position: fixed;
    top: 44px; /* magic number*/
    right: 22px;
    background: rgba(0,0,0,.6);
    border-radius: 3px;
    color: #ccc;
    padding-left: 20px; /* magic number */
    opacity: .4;
}
.word-wrap-control-wrapper:hover {
    opacity: 1;
}
.word-wrap-control-wrapper label{
    padding: 6px;
}
/* style for json */
.code[data-language=json] {
    display: flex;
    flex-direction: column;
}
.code[data-language=json] .jsoneditor {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-width: 1px 0 0;
}
.code[data-language=json] .jsoneditor div.outer {
    overflow: scroll;
    flex: 1;
    margin: 0;
    padding: 0;
}